$animation_speed: 1s;
$number_of_dots: 8;

[class^=dot-] {
  animation: ($animation_speed / 2) ease-in fadeinout infinite alternate;
}
@for $i from 0 through $number_of_dots {
  .dot-#{$i} {
    animation-delay: ($animation_speed / $number_of_dots) * ($i - 1);
  }
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0.2; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes fadeinout {
  0% { opacity: 0.2; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.dots {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

[class^=dot-] {
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #91c11e;
  transform-origin: -30px 10px;
}
@for $i from 0 through $number_of_dots {
  .dot-#{$i} {
    transform: translateX(40px) rotate(#{($i - 1) * 45}deg);
  }
}
