body {
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	color: #4c4c4c;
	line-height: 1.28571;
	font-size: 16px;
	margin: 0;
}

*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div {
	display: block;
}

form {
	display: block;
	margin-top: 0em;
}

input {
	-webkit-appearance: textfield;
	background-color: white;
	-webkit-rtl-ordering: logical;
	cursor: text;
	padding: 1px;
	border-width: 2px;
	border-style: inset;
	&:focus {
    outline: none;
	}
}

button {
	overflow: visible;
}

fieldset {
	margin: 0;
	min-width: 0;
}

fieldset, legend {
	padding: 0;
	border: 0;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

input, textarea, select, button {
	text-rendering: auto;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	margin: 0em;
	font: 400 11px system-ui;
}

img {
  max-width: 100%;
  height: auto;
}

.img-container {
  min-width: 20em;
}

h1, h2, h3, h4, h5, h6, p, a, span, input, button, select, option, label, div {
	font-family: Ubuntu, sans-serif !important;
}

.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 17px;
	margin-bottom: 8.5px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.25;
	color: #3a3a3a;
}

.btn, .h1, .h2, .h3, .h4, .h5, .h6, button, h1, h2, h3, h4, h5, h6 {
	font-family: Ubuntu,sans-serif;
}

h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}


h2 {
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	line-height: 1.18em;
}

small {
	&.dummy-space, &.small-val {
		font-size: 14px;
	}
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	min-height: 1px;
	@media screen and (max-width: 768px) {
		padding-left: 10px;
		padding-right: 10px;
	}
	@media screen and (max-width: 980px) {
		padding-left: 10px;
		padding-right: 10px;
	}
	@media screen and (max-width: 1024px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9 {
	@media screen and (max-width: 768px) {
    float: left;
    .col-sm-12 {
    	width: 100%;
    }
	}
}

.container {
	padding-left: 20px;
	padding-right: 20px;
	margin-right: auto;
	margin-left: auto;

	@media screen and (min-width: 768px) {
		width: 744px;
		padding-left: 10px;
		padding-right: 10px;
	}
	@media screen and (min-width: 980px) {
		width: 940px;
		padding-left: 10px;
		padding-right: 10px;
	}
  @media screen and (min-width: 1200px) {
    width: 1180px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.hf-wrapper, .grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
}

.grid {
  @media screen and (min-width: 0px) {
    margin-right: -5px;
    margin-left: -5px;
  }
  @media screen and (min-width: 640px) {
    margin-right: -10px;
    margin-left: -10px;
  }
  @media screen and (min-width: 768px) {
    margin-right: -10px;
    margin-left: -10px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: -10px;
    margin-left: -10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.col {
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  box-sizing: border-box;

  @media screen and (min-width: 0px) {
    padding-right: 5px;
    padding-left: 5px;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    max-width: 100%;
  }
  @media screen and (min-width: 640px) {
    padding-right: 10px;
    padding-left: 10px;
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    max-width: 50%;
  }
  @media screen and (min-width: 768px) {
    padding-right: 10px;
    padding-left: 10px;
    flex-basis: 25%;
    -webkit-flex-basis: 25%;
    max-width: 25%;
  }
  @media screen and (min-width: 1024px) {
    padding-right: 10px;
    padding-left: 10px;
    flex-basis: 25%;
    -webkit-flex-basis: 25%;
    max-width: 25%;
  }
  @media screen and (min-width: 1200px) {
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 25%;
    -webkit-flex-basis: 25%;
    max-width: 25%;
  }
}

.section {

}

.section-content {
  flex: 1 1 0;
  -webkit-flex: 1 1 0;
  box-sizing: border-box;

  @media screen and (min-width: 0px) {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    max-width: 100%;
  }
  @media screen and (min-width: 1024px) {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    max-width: 100%;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 1170px;
    -webkit-flex-basis: 1170px;
    max-width: 1170px;
  }
}

.page-header {
  padding-top: 100px;
  text-align: center;
  font-size: 32px;
  font-family: Ubuntu;
  color: #4C4C4C;
  padding-left: 15px;
  padding-right: 15px;
}

.page-title {
	font-weight: bold;
}
.page-description {
	font-size: 18px;
}

.card {
	border: none;
	box-shadow: none;
	background-color: #fff;
	border-radius: 0;
}

.form-group {
	position: relative;
	margin-bottom: 15px;
}

.form-group-md {

}

.form-control {
	border: 1px solid #dbdcde;
	border-radius: 0;
	height: 40px;
	width: 100%;
	padding: 6px 12px;
	background-color: #fff;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control, output {
    font-size: 14px;
    line-height: 1.28571;
    display: block;
}

.control-label {
	color: rgba(0,0,0,.4)!important;
	padding-bottom: 7px;
	font-size: 14px;
}

.control-label {
	.char-counter {
		padding-bottom: 7px;
		font-size: 14px;
	}
}

.char-counter, label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 2px;
	font-size: 13px;
}

.text-center {
	text-align: center;
}
.header {
	padding-bottom: 10px;
	font-weight: 700;
}
.mint-underline {
	box-shadow: inset 0 -14px 0 0 rgba(80,214,145,.2);
}

.mustard-underline {
  font-weight: 600;
  box-shadow: inset 0 -10px 0 0 rgba(248, 183, 77, 0.3);
}

.table {

}

.row {
	margin-left: -5px;
	margin-right: -5px;

	@media screen and (min-width: 768px) {
		margin-left: -10px;
		margin-right: -10px;
	}
	@media screen and (min-width: 980px) {
		margin-left: -10px;
		margin-right: -10px;
	}
	@media screen and (min-width: 1200px) {
		margin-left: -15px;
		margin-right: -15px;
	}
}

.row-item {
  
}

.padding-horizontal {
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;

  @media screen and (min-width: 0px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.padding-vertical {
  @media screen and (min-width: 0px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.padding-top {
  @media screen and (min-width: 0px) {
    padding-top: 15px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 20px;
  }
}

.padding-bottom {
  @media screen and (min-width: 0px) {
    padding-bottom: 15px;
  }
  @media screen and (min-width: 1024px) {
    padding-bottom: 20px;
  }
}

.btn, .subscription-btn, .unselectable {
	-webkit-user-select: none;
	-ms-user-select: none;
}

.btn {
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.28571;
	border-radius: 3px;
	-moz-user-select: none;
	user-select: none;
}

.btn, button {
	font-weight: 400;
}

.btn-success, .ml-btn-back {
	text-transform: uppercase;
	opacity: 1;
	cursor: pointer;
	user-select: none;
}

.btn-success {
	font-size: 16px;
	font-weight: 700!important;
	color: #fff!important;
	background-color: #32d694;
	padding: 10px;
	padding-left: 30px!important;
	padding-right: 30px!important;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-icon {
  vertical-align: middle;
  box-sizing: content-box;
  padding-bottom: 4px;
}

.text-danger {
  color: #a94442;
}

.text-uppercase {
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3);
}
